<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Inventario</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center m-5">Listado de Productos</h1>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th class="bg-primary text-white">ID</th>
                    <th class="bg-primary text-white">Nombre</th>
                    <th class="bg-primary text-white">Descripción</th>
                    <th class="bg-primary text-white">Precio</th>
                    <th class="bg-primary text-white">Stock</th>
                    <th class="bg-primary text-white">Categoría</th>
                    <th class="bg-primary text-white">Fecha Vencimiento</th>
                    <th class="bg-primary text-white">Fecha de Alta</th>
                    <th class="bg-primary text-white">Fecha de Baja</th>
                    <th class="bg-primary text-white">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos%}
                    <tr>
                        <td>{{producto.id}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.precio}}</td>
                        <td>{{producto.stock}}</td>
                        <td>{{producto.categoria}}</td>
                        <td>{{producto.fecha_vencimiento}}</td>
                        <td>{{producto.fecha_alta}}</td>
                        <td>{{producto.fecha_baja}}</td>
                        <td>
                            <a href="{% url 'editar_producto' producto.id %}" class="btn btn-success">Editar</a>
                            <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-danger">Eliminar</a>
                            
                        </td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
        <form action="{% url 'crear_producto'%}" method="POST" class="form-group">
            {% csrf_token %}
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" class="form-control">

            <label for="descripcion">Descripcion:</label>
            <input type="text" name="descripcion" class="form-control">

            <label for="precio">Precio:</label>
            <input type="number" name="precio" class="form-control">

            <label for="stock">Stock:</label>
            <input type="number" name="stock" class="form-control">

            <label for="categoria">Categoria:</label>
            <input type="number" name="categoria" class="form-control">

            <label for="fecha_vencimiento">Fecha de Vencimiento:</label>
            <input type="date" name="fecha_vencimiento" class="form-control">

            <label for="fecha_baja">Fecha de Baja:</label>
            <input type="date" name="fecha_baja" class="form-control">

            <button type="submit" class="btn btn-primary m-2">Crear Producto</button>
        </form>
    </div>
</body>
</html>

