{% extends 'base.html' %}
{% block title %}
Inventario
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-12 m-3">
        <div class="row">
            <div class="col-10">
                <h1>Listado de Productos</h1>
            </div>
            <div class="col-2 mt-2 d-flex justify-content-end">
                <!-- Botón de nuevo producto -->
                <button class="btn btn-info me-2" data-bs-toggle="modal" data-bs-target="#crearModal">Nuevo Producto</button>

            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th class="bg-primary text-white">ID</th>
                <th class="bg-primary text-white">Nombre</th>
                <th class="bg-primary text-white">Descripción</th>
                <th class="bg-primary text-white">Precio</th>
                <th class="bg-primary text-white">Stock</th>
                <th class="bg-primary text-white">Categoría</th>
                <th class="bg-primary text-white">Fecha Vencimiento</th>
                <th class="bg-primary text-white">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.categoria.nombre }}</td>
                    <td>{{ producto.fecha_vencimiento }}</td>
                    <td>
                        <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#actualizarModal{{ producto.id }}">Editar</button>
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#eliminarModal{{ producto.id }}">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Crear modal nuevo producto -->
<div class="modal fade" id="crearModal" tabindex="-1" aria-labelledby="crearModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'crear_producto' %}" method="POST">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="crearModalLabel">Nuevo Producto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" name="nombre" class="form-control" placeholder="Nombre del Producto" required>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion:</label>
                        <input type="text" name="descripcion" class="form-control" placeholder="Descripcion..." required>
                    </div>
                    <div class="mb-3">
                        <label for="precio" class="form-label">Precio:</label>
                        <input type="number" name="precio" step="0.01" class="form-control" placeholder="Precio en pesos" required>
                    </div>
                    <div class="mb-3">
                        <label for="stock" class="form-label">Stock:</label>
                        <input type="number" name="stock" class="form-control" placeholder="Stock" required>
                    </div>
                    <div class="mb-3">
                        <label for="categoria_id" class="form-label">Categoria:</label>
                        <select name="categoria_id" class="form-control" required>
                            <option value="">---- Seleccione una categoria ----</option>
                            {% for categoria in categorias %}
                                <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="fecha_vencimiento" class="form-label">Fecha de Vencimiento:</label>
                        <input type="date" name="fecha_vencimiento" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Producto</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% for producto in productos %}
<!-- Modificar modal producto -->
<div class="modal fade" id="actualizarModal{{ producto.id }}" tabindex="-1" aria-labelledby="actualizarModalLabel{{ producto.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="actualizarModalLabel{{ producto.id }}">Editar Producto</h5>
            </div>
            <div class="modal-body">
                <form action="{% url 'actualizar_producto' producto.id %}" method="POST" class="form-group">
                    {% csrf_token %}
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" class="form-control" value="{{ producto.nombre }}" required>
            
                    <label for="descripcion">Descripcion:</label>
                    <input type="text" name="descripcion" class="form-control" value="{{ producto.descripcion }}" required>
            
                    <label for="precio">Precio:</label>
                    <input type="number" name="precio" step="0.01" class="form-control" value="{{ producto.precio }}" required>
            
                    <label for="stock">Stock:</label>
                    <input type="number" name="stock" class="form-control" value="{{ producto.stock }}" required>
            
                    <label for="categoria">Categoria:</label>
                    <select name="categoria_id" class="form-control">
                        <option value="{{ producto.categoria.id }}">{{ producto.categoria.nombre }}</option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                        {% endfor %}
                    </select>

                    <label for="fecha_vencimiento">Fecha de Vencimiento:</label>
                    <input type="date" name="fecha_vencimiento" class="form-control" value="{{ producto.fecha_vencimiento }}" required>
            </div>      
        
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success m-3">Actualizar Producto</button>
                    </form>
            </div>
        </div>
    </div>
</div>

<!-- Eliminar modal producto -->
<div class="modal fade" id="eliminarModal{{ producto.id }}" tabindex="-1" aria-labelledby="eliminarModalLabel{{ producto.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="eliminarModalLabel{{ producto.id }}">Eliminar Producto</h5>
            </div>
            <div class="modal-body">
                <p>Se va a eliminar el producto: ID: {{ producto.id }} - {{ producto.nombre }}<p>
            </div>      
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
